/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map_overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: solid black;
    border-radius: 5px;
}

.overlay_head {
    text-align:center;
}

#controls {
    top: 7%;
    left: 1px;
}

#controls > button {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

#stats {
    top: 7%;
    right: 1px;
}

#queryButton {
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}